doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    title アンケート
  body
    h1 どちらが好きですか？
    form(method="post" action=path)
      span 名前: 
      input(type="text" name="name")
      input(type="radio" name="favorite" value=firstItem)
      span(style="margin:5px") #{firstItem} 
      input(type="radio" name="favorite" value=secondItem)
      span(style="margin:5px") #{secondItem} 
      button(type="submit") 投稿
