doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    title アンケート
  body
    h1 あなたはどっち？
    form(method="post" action=path)
      | 名前: 
      input(type="text" name="name")
      input(type="radio" name="favorite" value=firstItem)
      | #{firstItem} 
      input(type="radio" name="favorite" value=secondItem)
      | #{secondItem} 
      button(type="submit") 投稿
