doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    title どっちにする？
  body
    h1 今日のご飯は？
    form(method="post" action=path)
      span 名前: 
      input(type="text" name="name")
      input(type="radio" name="favorite" value=firstItem)
      span #{firstItem} 
      input(type="radio" name="favorite" value=secondItem)
      span #{secondItem} 
      button(type="submit") 投稿
